html {
    height: 100%;
}
body {
    background-color: rgb(201, 201, 192);
    height: 75%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#errblock {
    margin: auto;
    background-color: rgb(192, 185, 184); 
    box-shadow: 0 0 10px;
    text-align: center;
    padding: 1% 5% 2% 5%;
}

.button-style{
    align-self: flex-end;
    padding: 5px;
}

.btn {
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5%;
}

.btn:hover {
    background: whitesmoke;
}

