html {
    height: 100%;
}
body {
    background-color: rgb(201, 201, 192);
    height: 75%;
}
#logo {
    display: flex;
}

#logo img {
    margin: 0 10px 10px 0;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-descript {
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo-title {
    font-size: 35px;
    color: rgb(77, 76, 76);
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 1px 1px grey;
    padding: 10px;
}

.photo-area img {
    box-shadow: 0 0 5px;
    border-bottom: 1.5px solid black;
    border-right: 1.5px solid black;
    width: 100%;
    max-width: 300px;
}
.photo-area {
    display: flex;
    width: fit-content;
    flex-direction: column;
}

#information {
    margin: 20px;
    background-color: rgb(192, 185, 184); 
    box-shadow: 0 0 5px;
    border-bottom: 1.5px solid black;
    border-right: 1.5px solid black;
    text-align: center;
    padding: 2% 5% 2% 5%;
    width: 240px;
    height: 150px;
}

#photo-owner-uname, #photo-description {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.chatbox {
    margin: 24px;
    background-color: rgb(192, 185, 184); 
    box-shadow: 0 0 5px;
    border-bottom: 1.5px solid black;
    border-right: 1.5px solid black;
    text-align: left;
    padding: 2% 0% 2% 3%;
    align-content: center;
    width: 500px;
}

#comments-section {
    padding-bottom: 10px;
}