html {
    height: 100%;
}
body {
    background-color: rgb(201, 201, 192);
    margin-bottom: 25px;
}
#logo {
    display: flex;
    min-width: 25%;
}

#logo img {
    margin: 0 10px 10px 0;
}

.header-area, .search-upload{
    display: flex;
    justify-content: space-between;
} 

.search { 
    width: 100%;
}

#searchbox {
    width: 50%;
    height: 20px;
}

.button-style, .other-btn, .upload-btn{
    align-self: flex-end;
    padding: 5px;

}
.upload-btn {
    display: flex;
}

.btn {
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5%;
}

.btn:hover {
    background: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 5px;
    place-items: center;
    margin-top: 25px;
    min-width: 50%;
}

.picture-grid {
    text-align: center;
    padding: 10px;
    width: 300px;
    height: 300px;
    overflow: auto;
}
.picture-grid img {
    align-items: center;
    max-height: 100%;
}
.picture-grid img:hover{
    opacity: 80%;
}
